<nav>
    <div class="nav-wrapper grey lighten-5 z-depth-1">
        <a href="#!" class="brand-logo nav-logo grey-text text-darken-2">
            <div class="valign-wrapper center-align">
                <span class="logo-self">< / > DevNet</span>
            </div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger grey-text"
            ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#" class="grey-text text-darken-2">Login</a>
            </li>
            <li>
                <a href="#" class="grey-text text-darken-2">About</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#" class="grey-text text-darken-2">Login</a></li>
    <li>
        <a href="#" class="grey-text text-darken-2">About</a>
    </li>
</ul>
