<div
    class="container"
    [ngClass]="{
        'white-text': darkMode,
        'grey-text text-darken-3': !darkMode
    }"
    style="padding-top: 5rem;"
>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m8 offset-m2" style="margin-bottom: 2rem;">
                    <div class="col s3 m2 right-align">
                        <img
                            src="/assets/images/developers/dex.png"
                            alt="AuthorName Singhpreet"
                            class="circle responsive-img"
                            style="max-height: 7rem; margin-top: 2rem;"
                        />
                    </div>
                    <div class="col s9 m10">
                        <h3><strong>Kamalpreet Sins Aujla</strong></h3>
                        <span
                            >Bio of the person. We might impose a word limit.
                            jsahkjhdajkhda asdjkgbsadkj jasdh ashj ak adsansa
                            asdkjnsa lkas hd nas klsadh an nasd mnas mnas mbsa
                            mbsad nmsa
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2" style="margin-bottom: 2rem;">
                <h4><i class="material-icons">school</i> Education</h4>
                <br />
                <ul class="collection">
                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>(B.Tech)</strong> from
                            <strong
                                >(Chandigarh College of Engineering and
                                Technology (Degree Wing))</strong
                            >
                        </h5>
                        <h6>(2011) - (2015)</h6>
                    </li>

                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>(B.Tech)</strong> from
                            <strong
                                >(Chandigarh College of Engineering and
                                Technology (Degree Wing))</strong
                            >
                        </h5>
                        <h6>(2011) - (2015)</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2" style="margin-bottom: 2rem;">
                <h4><i class="material-icons">work</i> Work Experience</h4>
                <br />
                <ul class="collection">
                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>(B.Tech)</strong> from
                            <strong
                                >(Chandigarh College of Engineering and
                                Technology (Degree Wing))</strong
                            >
                        </h5>
                        <h6>(2011) - (2015)</h6>
                    </li>

                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>(B.Tech)</strong> from
                            <strong
                                >(Chandigarh College of Engineering and
                                Technology (Degree Wing))</strong
                            >
                        </h5>
                        <h6>(2011) - (2015)</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="section">
        <div class="row">
            <div class="col s12 m8 offset-m2" style="margin-bottom: 2rem;">
                <h4><i class="material-icons">beenhere</i> Skills</h4>
                <br />
                <ul class="collection">
                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>Python</strong>
                            <span class="badge">Advanced</span>
                        </h5>
                    </li>
                    <li
                        class="collection-item"
                        [ngClass]="{ 'grey darken-3': darkMode }"
                    >
                        <h5 class="collection-title">
                            <strong>HTML</strong>
                            <span class="badge">Beginner</span>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div>
        <div class="row">
            <h5 class="center">You can also find (User) on:</h5>
            <br />
            <div
                class="col s10 offset-s1 m8 offset-m2"
                style="font-size: 5rem;"
            >
                <div class="row">
                    <div class="col s3 center">
                        <i
                            class="icon ion-logo-facebook social-icons social-icon-facebook"
                        ></i>
                    </div>
                    <div class="col s3 center">
                        <i
                            class="icon ion-logo-twitter social-icons social-icon-twitter"
                        ></i>
                    </div>
                    <div class="col s3 center">
                        <i
                            class="icon ion-logo-linkedin social-icons social-icon-linkedin"
                        ></i>
                    </div>
                    <div class="col s3 center">
                        <i
                            class="icon ion-logo-github social-icons social-icon-github"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
