.dark {
    &-background {
        background-color: #333 !important;
    }
    &-font-color {
        color: #fafafa;
    }
}
.light {
    &-background {
        background-color: #fafafa !important;
    }
    &-font-color {
        color: #222;
    }
}
