@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,800&display=swap');
@import './_themes';
@import './_overwrite_materialize';

$core-font: 'Montserrat', 'Roboto';

$break-mobile: 601px;

.container-custom {
    margin: 0 auto;
    padding-top: 5rem;
    max-width: 1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container-custom {
        width: 75%;
    }
}
@media only screen and (min-width: 993px) {
    .container-custom {
        width: 60%;
    }
}

// navbar-color : grey-lighten-3
// main-accent-light-blue: #42a5f5 or rgb(66, 165, 245)}
