<div
	class=""
	[ngClass]="{'home-light': !darkMode, 'home-dark': darkMode}"
	style="padding-top: 7rem; padding-bottom: 6rem;"
	>
    <div class="row container right-align">
        <div>
            <h1 class="devnet white-text">
				< / > DevNet
            </h1>
            <br />
            <h5 class="white-text">
                a platform for developers and knowledge workers everywhere.
            </h5>
            <h4 class="white-text">
                because knowledge deserves to be shared.
            </h4>
            <br />
            <h3 style="margin-top: 0;">
                <span class="white-text">
                    Share .
                </span>
                <span class="white-text">
                    Connect .
                </span>
                <span class="white-text">
                    Grow .
                </span>
            </h3>
            <br />
            <br />
            <a
                class="waves-effect waves-blue btn-large btn-flat white blue-text"
				[routerLink]="['/auth']"
            >
                Login or Signup
            </a>
		</div>
    </div>
</div>
