@import '../../styles.scss';

.base {
    background-attachment: fixed;
    background-size: cover;
    height: 87.7vh;
}

.home-dark {
    @extend .base;

    background: linear-gradient(rgba(13, 71, 161, 0.9), rgba(21, 101, 192, 0.9)), url('/assets/images/home-bg.jpg');
}

.home-light {
    @extend .base;

    background: linear-gradient(rgba(66, 165, 245, 0.9), rgba(33, 150, 243, 0.9)), url('/assets/images/home-bg.jpg');
}
